.App {
  width: 100%;
  height: 100%;
  background-color: f7f7f7;
  display: flex;
  margin-bottom: 0px;
  overflow: hidden;
}

/* .body {
  height: 100vh;
  margin: 0px;
} */

.Content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.Content-Box {
  border: 2px solid #000000;
}

.container {
  width: 100%;
  display: flex;
}

.start-btn {
  justify-items: center;
  height: 200px;
  width: 200px;
}

#drop_zone {
  width: 712px;
  height: 500px;
  text-align: center;
}

.memberList {
  border: 2px solid black;
  width: 500px;
  height: 500px;
  text-align: center;
}

.copyright {
  position: absolute;
  bottom: 2%;
  right: 1%;
  width: 760px;
  height: 40px;
  opacity: 0.94;
  border-radius: 19.8px;
  background-color: #ffffff;
  text-align: center;
}

.copyright>p {
  width: 737px;
  height: 21px;
  font-family: NotoSansCJKkr;
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #070707;
  margin-top: 11px;
}

.main-mader {
  width: 232px;
  height: 25px;
  font-family: NotoSansCJKkr;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #070707;
  font-weight: 500;
}

.sub-mader {
  width: 331px;
  height: 19px;
  font-family: NotoSansCJKkr;
  font-size: 13.2px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #070707;
  font-weight: 500;
}

/* left-side */

.left-side {
  width: 41%;
  height: 100vh;
}

.main_image-neowiz {
  margin-left: 13vw;
  margin-top: 6.5vh;
}

.main-header {
  width: 92.2%;
  height: 34.6%;
  margin: 43% 0 50% 13%;
  /*margin-top: 34.6%;*/
  /*display: flex;
	align-items: center;*/
  font-family: NotoSansCJKkr;
  font-size: 47px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.main-sub-header {
  width: 313px;
  height: 25px;
  font-family: NotoSansCJKkr;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.5);
}

/*right-side*/

.right-side {
  width: 59%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/background.png);
  -webkit-background-size: cover;
  background-size: cover;
}

.Rectangle-upload {
  margin: 14px;
  background-image: url(./img/file-upload.png);
  width: 242px;
  height: 218px;
}

.Rectangle-keyboard {
  margin: 14px;
  background-image: url(./img/group-4.png);
  width: 242px;
  height: 218px;
}

/* 직접 입력 modal */

/*modal*/
.modal-dialog .modal-content {
  width: 712px;
  height: 517px;
  border-radius: 8px;
  background-color: #ffffff;
}

.modal-dialog {
  margin-left: 25%;
}

.modal-header-costom {
  width: 100%;
  margin-right: 2rem;
  margin-top: 0.5rem;
}

.modal-header1 {
  display: flex;
  justify-content: space-around;
}

.modal-header-title {
  text-align: center;
  width: 600px;
  font-size: 26px;
}

.closeButton {
  margin-left: 4rem;
}

.modal-header-title>button>span {
  position: relative;
  left: 2rem;
}

.modal_input-box {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.modal_input-box>button {
  color: #e25050;
}

.modal_input {
  width: 248px;
  height: 51px;
  border-radius: 13px;
  border: solid 0.3px rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  margin-right: 1rem
}

.modal_input-fake {
  width: 248px;
  height: 5px;
  margin-right: 1rem;
  text-align: start;
}

.modal_id-name_submit-fake {
  width: 110px;
  height: 5px;
}

.modal_id-name_submit {
  width: 110px;
  height: 51px;
  border-radius: 23px;
  border: solid 1px #e25050;
}

.modal_id-name_submit-text {
  width: 35px;
  height: 28px;
  font-family: NotoSansCJKkr;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e25050;
  text-align: start;
}

.modal_id-name-list-box>p {
  text-align: start;
  margin-left: 0.7rem;
  margin-top: -0.7rem;
}

.modal_name-title {
  display: flex;
  width: 248px;
  height: 51px;
}


.modal_id-name-list {
  width: 644px;
  height: 219px;
  border-radius: 13px;
  border: solid 0.3px rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.modal_lottery-btn-box {
  width: 644px;
  display: flex;
  justify-content: flex-end;
}

.modal_lottery-btn {
  width: 163px;
  height: 51px;
  border-radius: 23px;
  box-shadow: 0 1px 7px 2px rgba(231, 87, 87, 0.5);
  background-color: #e25050;
  margin: 1rem 2rem 0 0;
  color: #fff;
}

.modal_id-name-list-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 195px;
  height: 81px;
  border-radius: 5px;
  border: solid 0.5px #e21837;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin: 8px;
  text-align: start;
}

.modal_id-name-list-item>button {
  margin-right: 1rem;
}

.modal_id-name-list-item_text {

  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.modal_id-name-list-item_text_id {
  font-weight: 500;
  color: grey;
}

/* 파일 업로드 Modal */

.modal-content {
  text-align: center;
  display: flex;
  align-items: center;
}

.fileupload-component {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  text-align: center;
}

.fileupload-component-title {
  margin-top: 2rem;
}

.fileupload-icon {
  width: 83px;
  height: 89px;
  object-fit: contain;
}

.fileupload-component-title {
  height: 31px;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.fileupload-component-sub {
  margin-top: 2rem;
  height: 75px;
  font-family: NotoSansCJKkr;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
}

.fileupload-component-sub>p {
  margin-bottom: 0.3rem;
}

.red {
  width: 58px;
  height: 18px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e25050;
  font-weight: bolder;
}

.red1 {
  color: red;
}

/* 첨부파일 완료 페이지 */

.complete-msg {
  width: 664px;
  height: 65px;
  border-radius: 8px;
  margin-top: 10rem;

}

.complete-msg_title {
  height: 31px;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.complete-msg_content {
  height: 65px;
  border-radius: 13px;
  border: solid 0.3px rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  text-align: center;
  margin: 1rem;
}

.complete-msg_content>.input-group>img {
  width: 31px;
  height: 31px;
  position: relative;
  bottom: 0.2rem;
}

.txtfile-content {

  margin: 1rem;
}

.txtfile-delete {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: solid 0.5px #979797;
  background-color: #ffffff;
  position: relative;
  top: 0.2rem;
  margin-right: 1rem;
}

.checkbox-content {
  margin-left: 1rem;
}

.modal_lottery-btn {
  width: 163px;
  height: 51px;
  border-radius: 23px;
  box-shadow: 0 1px 7px 2px rgba(231, 87, 87, 0.5);
  background-color: #e25050;
  margin: 1rem 0 0 0;
}

.modal_lottery-btn-title {
  font-family: NotoSansCJKkr;
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0px;
}

.complete-delete {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
}

.complete-delete>img {
  width: 14px;
  height: 19px;
  margin-right: 0.5rem;
}

.modal_lottery-btn-box {
  display: flex;
  justify-content: center;
}

/* 당첨자 페이지 */

.congraturation-app {
  width: 100%;
  height: 100%;
  background-image: url(./img/image-1.png);
  -webkit-background-size: cover;
  position: absolute;
  z-index: 2;
  overflow: hidden;
}

.body {
  height: 100vh;
  margin: 0px;
}

.rotate-img {
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  animation: App-logo-spin infinite 20s linear;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.sparkle>img {
  width: 63.7%;
}

.main_image-neowiz {
  width: 12.8vw;
  height: 3.3vh;
  margin-left: 5.7vw;
  margin-top: 6.5vh;
}

.congraturation-img {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
}

.card-img {
  display: flex;
  justify-content: center;
  height: 300px;
  position: absolute;
  z-index: 4;
  align-items: center;
}

.image-sparkle {
  width: 652px;
  height: 276px;
  position: absolute;
  background-image: url(./img/image-sparkle.svg);
  background-repeat: no-repeat;
}

.cards {

  width: 168px;
  height: 240px;
  object-fit: contain;
}

.result-wrap {
  position: absolute;
}

.result-text {
  width: 45px;
  height: 86px;
  font-family: AppleMyungjo;
  font-size: 59.4px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.result-text-1>p {
  font-family: AppleMyungjo;
  position: relative;
  left: 33%;
  bottom: 150px;
}

.result-text-2>p {
  font-family: AppleMyungjo;
  position: relative;
  left: 33%;
  bottom: 150px;
}

.result-text-3>p {
  font-family: AppleMyungjo;
  position: relative;
  left: 33%;
  bottom: 150px;
}

.resultId {
  background-color: #fff;
  width: 137px;
  height: 36px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 2rem;
}

.resultId>p {
  width: 97px;
  height: 24px;
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 0.5rem;
}

.resultId-warp {
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*이미지 회전시키기*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes card-spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(90deg);
  }
}

.rotate {
  -webkit-animation: card-spin 2s linear;
  /*-o-animation: spin 4s infinite linear;
  -moz-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;*/
  transform: rotateY(90deg);
}

.rotate-firstName {
  -webkit-animation: card-spin 1s linear;
}

.front {
  position: absolute;
  z-index: 2;
  transform: rotateY(90deg);
}